.new-post-form-container {
    display: flex;
    justify-content: center;
}

.new-post-form-area {
    margin-top: 6em;
    padding: 2em;
    border: 2px solid;
    width: 50%;
}

.new-post-form-title {
    margin-bottom: 2em;
}


.new-post-label {
    float: left;
    margin-left: 5em;
    font-weight: 700;
}

.newBody, .newImg, .newTitle, .newCategoryId, .newPublishDataTime { 
    float: right;
    width: 70%;
    margin-right: 5em;
    margin-bottom: 2em;
}

.newBody{
    height: 300px;
}

.submitNewPostBtn {
    color: white;
    background-color: black;
    float: right;
    margin-right: 5em;
}

.create-new-post {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #5FC2AA;
    color: white;
    border-radius: 18px; 
}

.hidden{
    display: none;
}